# ======================================
# Title: .gitignore
# Author: Professor Krasso
# Date: 11 September 2020
# Modified By: Karina Alvarez
# Description: Adding .gitignore
# ======================================

# IDE
.vscode
.idea

# Node ddependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
