<!--
============================================
; Title:  EMS
; Author: Karina Alvarez
; Date:   11 September 2020
; Description: Employee Record App
;===========================================
-->
<head>
  <!-- Meta Tags -->
  <meta charset='UTF-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Karina Alvarez">
  <meta name="keywords" content="bellevue, project" />

  <title><%= title %></title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

 <!-- CSS Bootstrap -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous">

 <%- include("styles") %>

</head>
