<!DOCTYPE html>
<html lang="en">
  <%- include("header") %>

<body>
  <%- include("navbar") %>

<!--PAGE CONTENT-->
<div class="bg-light container-fluid" style="width: 100%;" id="main">
<br />
  <!--HEADER-->

  </div>
  <%- include("footer") %>
  <%- include("script") %>

</body>
</html>
