  <!DOCTYPE html>
  <html lang="en">

  <%- include("header") %>
<body>
  <%- include("navbar") %>
  <div class=" text-center jumbotron" id="/">
    <br />
    <br/>
    <h1 id="header">Employee Management System</h1>
    <p id="subheader">Milestone 2</p>
    <br />
    <br />
  </div>

<!--PAGE CONTENT-->
<div class="container" id="main">
  <div class="row">
    <div class="col-sm text-center">
      <h2 id="headermain">Project Description</h2>
      <p id="parmain">Simple Node.js application for employee records.
        This Website application is part of a five-week project
        for Web-340 course - Bellevue University Web Development Bachelor's
        Degree.
      </p>
    </div>
</div>

  </div>
  <%- include("footer") %>
  <%- include("script") %>

</body>
</html>
