<!DOCTYPE html>
<html lang="en">
  <%- include("header") %>

  <body>
    <%- include("navbar") %>

    <div class="bg-light container-fluid" style="width: 100%;" id="main">

    </div>

    <%- include("footer") %>

    <%- include("script") %>
  </body>
</html>
