<!--
============================================
; Title:  index.ejs
; Author: Professor Krasso
; Date:   22 August 2020
; Modified by: Karina Alvarez
; Description: Assignment week 3
;===========================================
-->

<!--start of program-->
<%- include("header") %>


<div role="main" class="container">
<br><br>

<h2>Welcome to the <%= message %>!</h2>
</div>

<%- include("footer") %>
<!--end of program-->
